<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap10="http://schemas.microsoft.com/appx/manifest/uap/windows10/10"
  xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
  xmlns:printsupport="http://schemas.microsoft.com/appx/manifest/printsupport/windows10"
  xmlns:printsupport2="http://schemas.microsoft.com/appx/manifest/printsupport/windows10/2"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap uap10 desktop printsupport printsupport2 rescap">

  <Identity
    Name="GDG.VirtualPrinter.RedMonBridge"
    Publisher="CN=GDGVirtualPrinterTest"
    Version="0.6.2.0" />

  <Properties>
    <DisplayName>GDG Virtual Printer</DisplayName>
    <PublisherDisplayName>GDG</PublisherDisplayName>
    <Logo>Assets\Logo\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily
      Name="Windows.Universal"
      MinVersion="10.0.26100.0"
      MaxVersionTested="10.0.26100.0" />
    <TargetDeviceFamily
      Name="Windows.Desktop"
      MinVersion="10.0.26100.0"
      MaxVersionTested="10.0.26100.0" />
  </Dependencies>

  <Resources>
    <Resource Language="en-US" />
  </Resources>

  <Applications>
    <Application
      Id="App"
      Executable="GDG.VirtualPrinter.Host\GDG.VirtualPrinter.Host.exe"
      EntryPoint="Windows.FullTrustApplication"
      uap10:SupportsMultipleInstances="true">

      <uap:VisualElements
        DisplayName="GDG Virtual Printer"
        Description="OXPS virtual printer with RedMon-compatible bridge"
        BackgroundColor="transparent"
        Square150x150Logo="Assets\Logo\Square150x150Logo.png"
        Square44x44Logo="Assets\Logo\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Assets\Logo\Wide310x150Logo.png" />
        <uap:SplashScreen Image="Assets\Logo\SplashScreen.png" />
      </uap:VisualElements>

      <Extensions>
        <printsupport:Extension
          EntryPoint="GDG.VirtualPrinter.VirtualPrinter.PsaExtensionTask"
          Category="windows.printSupportExtension" />

        <printsupport2:Extension
          EntryPoint="GDG.VirtualPrinter.VirtualPrinter.PsaVirtualPrinterTask"
          Category="windows.printSupportVirtualPrinterWorkflow">

          <printsupport2:PrintSupportVirtualPrinter
            DisplayName="ms-resource:PrinterName"
            PrinterUri="gdg-virtual-printer:oxps"
            PreferredInputFormat="application/oxps"
            PdcFile="Assets\Printer.pdc">
          </printsupport2:PrintSupportVirtualPrinter>
        </printsupport2:Extension>

        <desktop:Extension
          Executable="GDG.VirtualPrinter.Host\GDG.VirtualPrinter.Launcher.exe"
          Category="windows.fullTrustProcess">
          <desktop:FullTrustProcess>
            <desktop:ParameterGroup GroupId="Launcher" Parameters="" />
          </desktop:FullTrustProcess>
        </desktop:Extension>
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>

  <Extensions>
    <Extension Category="windows.activatableClass.inProcessServer">
      <InProcessServer>
        <Path>GDG.VirtualPrinter.Host\WinRT.Host.dll</Path>
        <ActivatableClass
          ActivatableClassId="GDG.VirtualPrinter.VirtualPrinter.PsaExtensionTask"
          ThreadingModel="both" />
        <ActivatableClass
          ActivatableClassId="GDG.VirtualPrinter.VirtualPrinter.PsaVirtualPrinterTask"
          ThreadingModel="both" />
      </InProcessServer>
    </Extension>

    <Extension Category="windows.publisherCacheFolders">
      <PublisherCacheFolders>
        <Folder Name="printing" />
      </PublisherCacheFolders>
    </Extension>
  </Extensions>
</Package>
